.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: left;
  justify-content: left;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: justify;
}

.feature:nth-of-type(even) {
  flex-direction: row-reverse;
}

.featureImage {
  max-width: 100%;
  max-height: 100%;
}

.featureText {
  padding-top: 70px;
  max-width: 50%;
}
